<% var shotsLength = shots.length; %>
<% var shotsClass = shotsSize === 'small'? 'shots-0001' : 'shots-0002'; %>

<div class="<%= shotsClass %>">

	<% for (var i = 0; i < shotsLength; i++) { %>
		
		<% var shot = shots[i]; console.log(shotsSize); %>
		<% var image = shotsSize === 'small'? shot.images.teaser : shot.images.normal; %>

		<div class="<%= shotsClass %>__image-container">
			<img class="<%= shotsClass %>__image" src="<%= image %>" alt="<%= shot.title %>"/>
			<div class="<%= shotsClass %>__user-container">
				<img class="<%= shotsClass %>__avatar noselect" src="<%= shot.user.avatar_url %>" alt="User Avatar"/>
				<span class="<%= shotsClass %>__username text-0001"><%= shot.user.name %></span>
			</div>
		</div>

	<% } %>

</div>