.menu-0001 {
	width: 100%;
	min-height: 50px;
	padding-left: 15px;
	border-bottom: 1px solid $color-mercury;
	background: $color-white;

	&__option {
		cursor: pointer;

		&:hover { 
			.dropdown-0001 {
				display: block;
			}
		}
	}
}