.menu-0001 {
	width: 100%;
	min-height: 50px;
	padding-left: 15px;
	border-bottom: 1px solid $color-mercury;
	background: $color-white;
	box-sizing: border-box;

	&__option {
		cursor: pointer;

		&:hover { 
			.dropdown-0001 {
				display: block;
			}
		}

		&[data-shots-size] {
			display: block;
		}
	}

	&__dropdown {

	}
}