.footer-0001 {
	background: $color-white;
	border-top: 1px solid $color-mercury;
	box-sizing: border-box;
	font-size: 0;
	margin: 0 auto;
	padding: 30px 15px 20px 15px;

	&__info {
		font-size: 13px;
	}
}