.shots-0001 {
	
	margin: 0 auto;
	font-size: 0;

	&__image-container {
		display: inline-block;
		padding: 10px;
		margin: 0 15px 30px 15px;
		border-radius: 5px;
		background-color: $color-akaroa;
	}

	&__image {
		max-width: 200px;
	}

	&__user-container {
		max-height: 16px;
		margin: 10px 0 0 0;
	}

	&__avatar {
		cursor: pointer;
		border-radius: 50%;
		float: left;
		height: 16px;
		width: 16px;
		margin: 1px 5px 0 0;
	}

	&__username {
		cursor: pointer;
	}
}

@media (min-width: $media-xsm) {

	.shots-0001 {
		max-width: 250px;
	}
}

@media (min-width: $media-sm) {

	.shots-0001 {
		max-width: 500px;
	}
}

@media (min-width: $media-md) {

	.shots-0001 {
		max-width: 500px;
	}
}

@media (min-width: $media-lg) {

	.shots-0001 {
		max-width: 1000px;
	}
}


@media (min-width: $media-xl) {

	.shots-0001 {
		max-width: 1250px;
	}
}

@media (min-width: $media-xxl) {

	.shots-0001 {
		max-width: 1500px;
	}
}