$color-mine-shaft		: #303030;
$color-white			: #FFFFFF;
$color-mercury			: #E5E5E5;
$color-wild-sand		: #F4F4F4;

$media-sm				: 568px;
$media-md				: 768px;
$media-lg				: 1024px;
$media-xl				: 1280px;