$color-mine-shaft		: #303030;
$color-white			: #FFFFFF;
$color-mercury			: #E5E5E5;
$color-wild-sand		: #F4F4F4;
$color-akaroa			: #DCCEB7;
$color-cornflower-blue	: #3A8BBB;
$color-blumine			: #1E6189;
$color-light-black		: #444444;

$media-xsm				: 300px;
$media-sm				: 568px;
$media-md				: 768px;
$media-lg				: 1024px;
$media-xl				: 1280px;
$media-xxl				: 1600px;