<footer class="footer-0001 grid-1-1">
	<div class="footer-0001__info grid-xsm-1-1 grid-md-1-2">
		<h1>Footer example</h1>
	</div>
	<div class="footer-0001__info grid-xsm-1-1 grid-md-1-2">
		<h2>Info 1</h2>
	</div>
	<div class="footer-0001__info grid-xsm-1-1 grid-md-1-2">
		<h2>Info 2</h2>
	</div>
	<div class="footer-0001__info grid-xsm-1-1 grid-md-1-2">
		<h2>Info 3</h2>
	</div>
	<div class="footer-0001__info grid-xsm-1-1 grid-md-1-2">
		<h2>Info 4</h2>
	</div>
	<div class="footer-0001__info grid-xsm-1-1 grid-md-1-2">
		<h2>Info 6</h2>
	</div>
</footer>